.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    height: 24rem;
    background-color: #10234b;
    box-shadow: 0 5px 20px 2px rgb(100, 100, 100);

    &__title{
        font-family: "Anton", sans-serif;
        color: white;
        letter-spacing: 1.5px;
        padding-top: 1rem;
        font-size: 2.5rem;
    }

    &__slots{
        height: 12rem;
        display: flex;
        padding: 1rem 2rem;
        border-radius: 0.5rem;

        &__slot{
            width: 7rem;
            height: 8rem;
            margin: 0.25rem;
            border-radius: 1rem;
            background-size: inherit;
        }   
    }

    &__play{
        width: 10rem;
        height: 3rem;
        background-color: #617DBB;       
        font-size: 1.5rem;
        text-transform: uppercase;
        color: white;
        border-radius: 0.25rem;
        font-family: "Anton", sans-serif;
        letter-spacing: 1.5px;
        cursor: pointer;
        
        &:disabled{
            background: rgb(153, 153, 153);
            color: black;
            cursor: text;
        }
    }
}

.slot1-active{
    background: url("../assets/reel1.png") no-repeat 0 0;
    animation:play 1s infinite;
    animation-timing-function: steps(24);
}   

.slot2-active{
    background: url("../assets/reel2.png") no-repeat 0 0;
    animation:play 1s infinite;
    animation-timing-function: steps(24);
} 

.slot3-active{
    background: url("../assets/reel3.png") no-repeat 0 0;
    animation:play 1s infinite;
    animation-timing-function: steps(24);
}

@keyframes play {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 0 -630px;
    }   
}