.start{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__button{
        width: 20rem;
        height: 5rem;
        background-color: #03143A;
        color: white;
        border-radius: .5rem;
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 1rem;
        font-family: 'Bebas Neue', cursive;

        &:hover{
            background-color: #193264;
        }
    
        &:active{
            background-color: #06132c;
        }
    }

    &__summary{
        color: #3a558b;
        font-size: 1.25rem;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;

    }
}